<div class="container"><div class="row">
  {{#region 'highlighted' class="col col-md-12"}}{{/region}}

  {{#region 'sidebar' class="col col-md-4"}}{{/region}}
  <div class="col col-md-8">
    <h2 class="page-header">{{title}}</h2>

    <div id="sysMessagesArea">{{{we-messages}}}</div>

    {{{body}}}
  </div>
</div></div>
