{{{render-bootstrap-config}}}
{{{render-javascript-tags 'footer'}}}
{{{render-client-component-templates}}}

<div class="container">
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Code released under the <a href="#">MIT License</a>.</p>
    </div>
  </div>
</footer>
</div>