<div class="navbar navbar-default"><div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to 'main.index' class="navbar-brand"}}{{appName}}{{/link-to}}
  </div>
  {{we-menu req.we.menu.main}}
  {{we-menu userMenu}}
</div></div>