<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
        {{#if socialLinks.twitter}}
          <li>
            <a target="_blank" {{bind-attr href=socialLinks.twitter}}>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        {{/if}}
        {{#if socialLinks.facebook}}
          <li>
            <a target="_blank" {{bind-attr href=socialLinks.facebook}}>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        {{/if}}
        {{#if socialLinks.github}}
          <li>
            <a target="_blank" {{bind-attr href=socialLinks.github}}>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        {{/if}}
        </ul>
        <p class="copyright text-muted">
          {{t 'app.copyright' appNameBinding="configs.client.publicVars.appName"}}
          - <a href="http://wejs.org">We.js powered!</a>
        </p>
      </div>
    </div>
  </div>
</footer>