files/uploads
node_modules
**/node_modules
test
*.sqlite
**/*.log
.git
client/admin/app
client/admin/config
client/admin/public
client/admin/tests
client/admin/translations
client/admin/vendor
client/admin/*.js
client/admin/*.json
client/admin/*.md
config/local.js
config/log-local.js
config/local.example