<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <h5>
         this is the <strong>[project]/templates/home/index.hbs</strong> file
        </h5>
      </div>
    </div>
  </div>
</div>